html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family:  Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }

body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    color: #000000;
    

  }

.pageHeader h1 {
  margin: 30px 0;
}

hr {
  width: 95%;
}


.container {
   display: flex; /* or inline-flex */
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100%;
  padding-bottom: 80px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  
  }
.content {
  width: 80%;
  font-size: 18px;
  line-height: 1.5 ;

 
}

#pageHeader {
  
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table tr:first-child td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    opacity: 0.7;
    color: white;
}

table tr{
    height: 50px;
}


 
  
#newsTitle {
  padding-top: 10px;
  width:60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

 

#newsTitle img{
  padding:0px;
  height:  250px;
  width: 250px;
  opacity: 1;


}
 