body {
    background-color: #333;
    font-family:  Arial, Helvetica, sans-serif;

}
.loginBox{
    width: 300px;
    max-height: 320px;
    display: inline-block;
	background-color:white;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    border-radius: 20px;
    padding: 0 20px;

     
}

form {
}
form input{
    font-size: 20px;
    color:black;
    background-color:rgb(211, 211, 211);
    height: 40px;
    display: block;
    border-radius: 10px;
    border-width: 0px;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    

}

button:focus {outline:0;}
input:focus {outline:0;}


::placeholder {
    color:black ;
    opacity: .5;
}

#submitButton {
    background-color: #333;
    color:white;
}

h1 {
    color:white;
    color: #333;
    text-align: center;
    font-size: 40px;
}

button {
    font-size: 20px;
    color:white;
    background-color: #333 !important;
    background-color:rgb(211, 211, 211);
    height: 40px;
    display: block;
    border-radius: 10px;
    border-width: 0px;
    width: 100%;
    margin-bottom: 5px;
    align-self: center;
  

}

@media only screen and (max-width: 600px) {
    .loginBox{
        width: 80%;
        max-height: 300px;
        display: inline-block;
        background-color:white;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 20px;
    
         
    }
}