 
{% extends "layout.html" %}
{% block content %}
    <div id="newsTitle">
        <h1> Contact</h1>
        <img id = "contactImg" src="/static/img/contact.png">

    </div>
    <hr>
     
    <div class="content">
        <div>
            <h2>Instructor</h2>
            <table>
                <tr> 
                    <th>Dr. Anna Bretscher</th>
                    <th></th>
                <tr>
                    <th>Email: </th>
                    <td><a href="mailto:bretscher@utsc.utoronto.ca">bretscher@utsc.utoronto.ca</a></td>
                </tr>
                <tr>
                    <th>Office:</th>
                    <td> IC493 </td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td> (416) 208-4745</td>
                </tr>

                <tr>
                    <th>Lectures:</th>
                    <td>Mondays 9:15-11:00 in HW 216</td>
                </tr>

                <tr>
                    <th>Office Hours: </th>
                    <td>W 11:00-12:00</td>
                </tr>
            </table>
        </div>
    </div>
    
{% endblock %}





 