{% extends "layout.html" %}
{% block content %}
<!-- content -->
<div class="pageHeader">  
    <h1> Student Management</h1>
</div>
<hr>
<div class="content">
    <h3>{{student.firstName}} {{student.lastName}}'s Marks</h3>
    <table class="gradesTable">
        <tbody>


            <tr>
                <td>Item</td>
                <td>
                    Grade
                </td>
                <td> Remark request</td>
                <td> Modify </td>
            </tr>

            <tr>
                <td>Assignment 1</td>
                <td>
                    {% if  student.grades.a1 == None %}
                    -

                    {% else %}
                    
                    {{student.grades.a1}}

                    {% endif %}
                </td>
                <td>
                    {% if  student.grades.a1 != None and student.grades.a1remark == False %}
                    -
                    {% elif student.grades.a1 == None %}
                    - 
                    {% elif student.grades.a1remark == True %}

                    <ul>
                        <li>Remark requested</li>
                        <li>Message: {{student.grades.a1remarkMessage}}</li>
                    </ul>
                    {% endif %}
                </td>

                <td>  
                    <form name = "regradeForm" class="regradeForm" action="modifyGrade" onsubmit="return validateRemark()" method="POST">
                    <input  id="markEnterBox" type="number" name="newMark" placeholder="_">
                    <input id="submitButton" name="a1" type="submit" value="modify">
                </form>
             </td>


            </tr>

            <tr>
                <td>Assignment 2</td>
                <td>
                    {% if  student.grades.a2 == None %}
                    -
                    {% else %}
                    {{student.grades.a2}}
                    {% endif %}
                </td>

                <td> {% if  student.grades.a2 != None and student.grades.a2remark == False %}
                    -
                    {% elif student.grades.a2 == None %}
                    - 
                    {% elif student.grades.a2remark == True %}
                    <ul>
                        <li>Remark requested</li>
                        <li>Message: {{student.grades.a2remarkMessage}}</li>
                    </ul>
                    {% endif %}
                </td>

                <td>  
                    <form name = "regradeForm2"  class="regradeForm" action="modifyGrade" onsubmit="return validateRemark2()" method="POST">
                    <input id="markEnterBox" type="number" name="newMark" placeholder="_">
                    <input id="submitButton" name="a2" type="submit" value="modify">
                </form>
             </td>


            </tr>

            <tr>
                <td>Assignment 3</td>
                <td>
                    {% if  student.grades.a3 == None %}
                    -
                    {% else %}
                    {{student.grades.a3}}
                    {% endif %}
                </td>
                <td>{% if  student.grades.a3 != None and student.grades.a3remark == False %}
                    -
                    {% elif student.grades.a3 == None %}
                    - 
                    {% elif student.grades.a3remark == True %}
                    <ul>
                        <li>Remark requested</li>
                        <li>Message: {{student.grades.a3remarkMessage}}</li>
                    </ul>
                    {% endif %}
                    </td>
                    <td>  
                        <form name = "regradeForm3"  class="regradeForm" action="modifyGrade" onsubmit="return validateRemark3()" method="POST">
                            <input id="markEnterBox" type="number" name="newMark" placeholder="_">
                        <input id="submitButton" name="a3" type="submit" value="modify">
                    </form>
                 </td>
            </tr>


            <tr>
                <td>Labs</td>
                <td>
                    {% if  student.grades.labs == None %}
                    -
                    {% else %}
                    {{student.grades.labs}}
                    {% endif %}
                </td>
                <td>
                    {% if  student.grades.labs != None and student.grades.labsRemark == False %}
                    -
                    {% elif student.grades.labs == None %}
                    - 
                    {% elif student.grades.labsRemark == True %}
                    <ul>
                        <li>Remark requested</li>
                        <li>Message: {{student.grades.labsRemarkMessage}}</li>
                    </ul>
                    {% endif %}
                </td>

                <td>  
                    <form name = "regradeForm4"  class="regradeForm" action="modifyGrade" onsubmit="return validateRemark4()" method="POST">
                    <input  id="markEnterBox" type="number" name="newMark" placeholder="_">
                    <input id="submitButton" name="labs" type="submit" value="modify">
                </form>
             </td>
            </tr>

            <tr>
                <td>Midterm</td>
                <td>
                    {% if  student.grades.midterm == None %}
                    -
                    {% else %}
                    {{student.grades.midterm}}
                    {% endif %}
                </td>
                <td>
                    {% if  student.grades.midterm != None and student.grades.midtermRemark == False %}
                    -
                    {% elif student.grades.midterm == None %}
                    - 
                    {% elif student.grades.midtermRemark == True %}
                    <ul>
                        <li>Remark requested</li>
                        <li>Message: {{student.grades.midtermRemarkMessage}}</li>
                    </ul>
                    {% endif %}
                </td>
                <td>  
                    <form name = "regradeForm5"  class="regradeForm" action="modifyGrade" onsubmit="return validateRemark5()" method="POST">
                    <input id="markEnterBox" type="number" name="newMark" placeholder="_">
                    <input id="submitButton" name="midterm" type="submit" value="modify">
                </form>
             </td>
            </tr>
            <tr>
                <td>Final </td>
                <td>
                    {% if  student.grades.final == None %}
                    -
                    {% else %}
                    {{student.grades.final}}
                    {% endif %}
                </td>
                <td>
                    {% if  student.grades.final != None and student.grades.finalRemark == False %}
                    -
                    {% elif student.grades.final == None %}
                    - 
                    {% elif student.grades.finalRemark == True %}
                    <ul>
                        <li>Remark requested</li>
                        <li>Message: {{student.grades.finalRemarkMessage}}</li>
                    </ul>
                    {% endif %}
                </td>
                <td>  
                    <form name = "regradeForm6"  class="regradeForm" action="modifyGrade" onsubmit="return validateRemark6()" method="POST">
                    <input id="markEnterBox" type="number" name="newMark" placeholder="_">
                    <input id="submitButton" name="final" type="submit" value="modify">
                </form>
             </td>
            </tr>

        </tbody>
    </table>

</div>
{% endblock %}