{% extends "layout.html" %}
{% block content %}
<!-- content -->

<div class="pageHeader">
    <h1> Grades </h1>

</div>
<hr>
<div class="content">
    <table class="gradesTable">
        <tbody>


            <tr>
                <td>Item</td>
                <td>
                    Grade
                </td>
                <td> Remark request</td>
            </tr>

            <tr>
                <td>Assignment 1</td>
                <td>
                    {% if  user.student.grades.a1 == None %}
                    -
                    {% else %}
                    {{user.student.grades.a1}}

                    {% endif %}
                </td>
                <td>
                    {% if  user.student.grades.a1 != None and user.student.grades.a1remark == False %}
                    <form class="remarkRequestForm" action="/processRemarkRequest" method="POST">
                        <input type="text" name="remarkMessage" placeholder="message">
                        <input id="submitButton" name="a1" type="submit" value="Request remark">
                    </form>
                    {% elif user.student.grades.a1 == None %}
                    - 
                    {% elif user.student.grades.a1remark == True %}
                    Remark requested
                    {% endif %}
                </td>

            </tr>

            <tr>
                <td>Assignment 2</td>
                <td>
                    {% if  user.student.grades.a2 == None %}
                    -
                    {% else %}
                    {{user.student.grades.a2}}
                    {% endif %}
                </td>

                <td> {% if  user.student.grades.a2 != None and user.student.grades.a2remark == False %}
                    <form class="remarkRequestForm" action="/processRemarkRequest" method="POST">
                        <input type="text" name="remarkMessage" placeholder="message">
                        <input id="submitButton" name="a2" type="submit" value="Request remark">
                    </form>
                    {% elif user.student.grades.a2 == None %}
                    - 
                    {% elif user.student.grades.a2remark == True %}
                    Remark requested
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Assignment 3</td>
                <td>
                    {% if  user.student.grades.a3 == None %}
                    -
                    {% else %}
                    {{user.student.grades.a3}}
                    {% endif %}
                </td>
                <td>{% if  user.student.grades.a3 != None and user.student.grades.a3remark == False %}
                    <form class="remarkRequestForm" action="/processRemarkRequest" method="POST">
                        <input type="text" name="remarkMessage" placeholder="message">
                        <input id="submitButton" name="a3" type="submit" value="Request remark">
                    </form>
                    {% elif user.student.grades.a3 == None %}
                    - 
                    {% elif user.student.grades.a3remark == True %}
                    Remark requested
                    {% endif %}
            </tr>

            <tr>
                <td>Labs</td>
                <td>
                    {% if  user.student.grades.labs == None %}
                    -
                    {% else %}
                    {{user.student.grades.labs}}
                    {% endif %}
                </td>
                <td>
                    {% if  user.student.grades.labs != None and user.student.grades.labsRemark == False %}
                    <form class="remarkRequestForm" action="/processRemarkRequest" method="POST">
                        <input type="text" name="remarkMessage" placeholder="message">
                        <input id="submitButton" name="labs" type="submit" value="Request remark">
                    </form>
                    {% elif user.student.grades.labs == None %}
                    - 
                    {% elif user.student.grades.labsRemark == True %}
                    Remark requested
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Midterm</td>
                <td>
                    {% if  user.student.grades.midterm == None %}
                    -
                    {% else %}
                    {{user.student.grades.midterm}}
                    {% endif %}
                </td>
                <td>
                    {% if  user.student.grades.midterm != None and user.student.grades.midtermRemark == False %}
                    <form class="remarkRequestForm" action="/processRemarkRequest" method="POST">
                        <input type="text" name="remarkMessage" placeholder="message">
                        <input id="submitButton" name="midterm" type="submit" value="Request remark">
                    </form>
                    {% elif user.student.grades.midterm == None %}
                    - 
                    {% elif user.student.grades.midtermRemark == True %}
                    Remark requested
                    {% endif %}
                </td>

            </tr>
            <tr>
                <td>Final </td>
                <td>
                    {% if  user.student.grades.final == None %}
                    -
                    {% else %}
                    {{user.student.grades.final}}
                    {% endif %}
                </td>
                <td>
                    {% if  user.student.grades.final != None and user.student.grades.finalRemark == False %}
                    <form class="remarkRequestForm" action="/processRemarkRequest" method="POST">
                        <input type="text" name="remarkMessage" placeholder="message">
                        <input id="submitButton" name="final" type="submit" value="Request remark">
                    </form>
                    {% elif user.student.grades.final == None %}
                    - 
                    {% elif user.student.grades.finalRemark == True %}
                    Remark requested
                    {% endif %}
                </td>
            </tr>

        </tbody>
    </table>
</div>


{% endblock %}