{% extends "layout.html" %}
{% block content %}
<!-- content -->

<div class="pageHeader">
    <h1> Welcome to CSCB20</h1>

</div>
<hr>
<div class="content">
    <h2>Course Description</h2>
    <p>A practical introduction to databases and Web app development. Databases: terminology and applications;
        creating, querying and updating databases; the entity-relationship model for database design. Web
        documents and applications: static and
        interactive documents; Web servers and dynamic server-generated content; Web application development and
        interface with databases. </p>

    <div>
        <p><b>Prerequisite -</b> Some experience with programming in an imperative language such as Python, Java or
            C.
            </br>
            <b>Exclusion -</b> This course may not be taken after - or concurrently with - any C- or D-level CSC.

            </br>

            <b> Course Syllabus -</b> <a href="files/blank.pdf"> PDF</a> </p>
    </div>
    <div>
        <h2>Instructor</h2>
        <img src="/static/img/prof.jpg">
        <table>
            <tr>
                <th>Dr. Anna Bretscher</th>
                <th></th>
            <tr>
                <th>Email: </th>
                <td><a href="mailto:bretscher@utsc.utoronto.ca">bretscher@utsc.utoronto.ca</a></td>
            </tr>
            <tr>
                <th>Office:</th>
                <td> IC493 </td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td> (416) 208-4745</td>
            </tr>

            <tr>
                <th>Lectures:</th>
                <td>Mondays 9:15-11:00 in HW 216</td>
            </tr>

            <tr>
                <th>Office Hours: </th>
                <td>W 11:00-12:00</td>
            </tr>

        </table>
    </div>
</div>


{% endblock %}