{% extends "layout.html" %}
{% block content %}

<!-- content -->
<div id="pageHeader">
    <h1> Labs</h1>
</div>
<hr>
<div class="content">

    <table id="labsTable">
        <tbody>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Week&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Lab&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Solutions&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>

            <tr>
                <td>2</td>
                <td> <a href="files/blank.pdf">Python, Command line</a></td>
                <td>None</td>
            </tr>

            <tr>
                <td>3</td>
                <td><a href="files/blank.pdf">Handout</a></td>
            </tr>

            <tr>
                <td>4</td>
                <td><a href="files/blank.pdf">Handout</a> <a href="files/blank.pdf">university.sql</a></td>
                <td><a href="files/blank.pdf">query_solns</a></td>
            </tr>

            <tr>
                <td>5</td>
                <td><a href="files/blank.pdf">Handout</a>
                </td>
                <td><a href="files/blank.pdf">Solns</a></td>
            </tr>

            <tr>
                <td>6</td>
                <td> <a href="files/blank.pdf">Handout</a>
                </td>
                <td><a href="files/blank.pdf">Solns</a></td>
            </tr>

            <tr>
                <td>7</td>
                <td><a href="files/blank.pdf">Handout</a>
                </td>
                <td></td>

            </tr>
            <tr>
                <td>8</td>
                <td>
                    <a href="files/blank.pdf">Handout</a> <br>
                </td>
                <td></td>

            </tr>
            <tr>
                <td>9</td>
                <td><a href="files/blank.pdf">Handout</a>
                </td>
                <td></td>

            </tr>
            <tr>
                <td>10</td>
                <td><a href="https://www.w3schools.com/jquery/jquery_syntax.asp">W3 tutorial</a> Work through
                    the tutorial for jQuery
                    up until jQuery Remove.
                </td>
                <td></td>
            </tr>



        </tbody>
    </table>

</div>
 

{% endblock %}