{% extends "layout.html" %}
{% block content %}

<!-- content -->
<div id="pageHeader">
    <h1> Lectures</h1>
</div>
<hr>

<div class="content">

    <table id="lectures">
        <tbody>
            <tr>
                <td>Week</td>
                <td>Topic</td>
                <td>Reading</td>
                <td>Lecture Material</td>
                <td>Lecture Code</td>
                <td>Evaluation</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Introduction, Databases background</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">Power
                        Point</a>
                    <a href="files/blank.pdf">Power
                        Point Handout</a>

                </td>
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Schema Diagrams, Relational Algebra</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">Power
                        Point</a> <a href="files/blank.pdf">Worksheet</a>
                    <a href="files/blank.pdf">Worksheet Solutions</a>

                </td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>SQL and MySQL</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">Power
                        Point PDF</a> <a href="files/blank.pdf">Power
                        Point Printable PDF</a> <a href="files/blank.pdf">MySQL
                        Worksheet</a></td>
                <td>
                    <a href="files/blank.pdf">In Class MySQL</a>

                </td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>MySQL Queries, Creating and Editing Tables</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">Power
                        Point</a>
                    <a href="files/blank.pdf">Printable
                        Power
                        Point</a> <a href="files/blank.pdf">More MySQL Worksheet <b>Solutions
                        </b></a>


                </td>
                <td><a href="files/blank.pdf">In Class MySQL</a>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td>MySQL Outer Joins, Views, NULL, string functions, HTML</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">Power
                        Point</a>
                    <a href="files/blank.pdf">HTML Power
                        Point</a> <a href="files/blank.pdf">MySQL Views Worksheet <b>Solutions
                        </b></a>

                </td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>7</td>
                <td>HTML, CSS</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">CSS Power
                        Point</a>

                </td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td>PHP</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">Power
                        Point</a>
                </td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>9</td>
                <td>PHP and SQL</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">Power
                        Point</a>
                </td>
                <td>Empty starter file: <a href="files/blank.pdf">query.php</a>
                    To look at the txt for this file, download this <a href="files/blank.pdf">php_query.txt</a>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td>JavaScript and jQuery</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">jQuery
                        Power
                        Point</a>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>11</td>
                <td> jQuery, AJAX, JSON</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">Power
                        Point</a>
                    <a href="files/blank.pdf">printable
                        Power
                        Point</a>

                </td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>12</td>
                <td> Last Year's final</td>
                <td></td>
                <td>
                    <a href="files/blank.pdf">W16 Final</a> Note
                    that some questions have code missing because portions resemble your A3</td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>
{% endblock %}