<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='login.css') }}">

</head>

<body>
  <div class="loginBox">
    <h1> Login</h1>
    <form action="/login" method="POST">
      <input type="username" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input id = "submitButton" type="submit" value="Login">
    </form>
    <button>
      Signup
    </button>
  </div>
</body>

</html>