<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='signUp.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='signUp.js') }}"></script>

</head>

<body>
    <div class="signUpBox">
        <h1 id="h11"> Sign Up</h1>

        <form name="singUpForm" action="/signUp" onsubmit="return validateForm()" method="POST">


            <label>Choose a account type:</label>
            <select name = selectAccType id="selectAccType" onchange="changerUserDisplay()">
                <option value="student">Student</option>
                <option value="instructor">Instructor</option>
            </select>
            <!-- get all the users-->
            <label id="selectInstructorsLabel" for="selectInstructors">Choose your instructors:</label>
            <select id="selectInstructors" name="selectInstructors" multiple>
                {% for i in allInstructors %}
                <option value="{{i.username}}"> {{i.username}}: {{i.firstName}} {{i.lastName}} </option>
                {% endfor %}
            </select>

            <label id="selectStudentsLabel" for="selectStudents">Choose your students:</label>
            <select id="selectStudents" name="selectStudents" multiple>
                {% for s in allStudents %}
                <option value="{{s.username}}"> {{s.username}}: {{s.firstName}} {{s.lastName}}</option>
                {% endfor %}
            </select>
            <label>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options. </label>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p id="usernameExists"> {{ message }} </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="username" name="username" placeholder="Username">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="password" name="password1" placeholder="Password">
            <input type="password" name="password2" placeholder="Password">
            <input id="submitButtonFeedback" type="submit" value="Sign Up">

        </form>
        <form action="/loginPage">
            <button>
                Log In
            </button>
        </form>

</body>

</html>